VITE_SUPABASE_URL=https://sssgivysdupvbdymiyxz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNzc2dpdnlzZHVwdmJkeW1peXh6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ3OTE3ODYsImV4cCI6MjA5MDM2Nzc4Nn0.vAdXvi5H0Ycv3GdDKi3nRwQ9nqGXKtgglHiXeTAF89o
